@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');


:root {
  --bg-clr: white;
  --text-clr: #000000;
  --text-clr-light: white;
  
  --main-clr: #F8F7F7;
  --second-clr: #00A0E6;
  --third-clr: #205065;

  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.278);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, 
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: 'Ysabeau', sans-serif; */
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
}
p {
  line-height: 25px;
  color: gray;
  font-size: 16px;
  font-family: 'Ysabeau', sans-serif;
}
a {
  text-decoration: none;
  color: var(--text-clr);
}
img {
  width: 100%;
  height: auto;
}
.section {
  padding: 3rem 1rem;
  max-width: 1100px;
  margin: 0 auto;
}


/* ---------buttons----------- */
.btn {
  border: none;
  padding: .3rem 1.2rem;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.btn-gray {
  background-color: #E2E8EF;
  color: var(--third-clr);
}
.btn-gray:hover {
  background-color: #cadcf0;
}
.btn-blue {
  background-color: var(--second-clr);
  color: var(--text-clr-light);
}
.btn-blue:hover {
  background-color: #278cb8;
}
.btn-close {
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  padding: .5rem .7rem;
  background-color: transparent;
  border: none;
  font-size: large;
}
.btn-close:hover {
  color: var(--third-clr);
  border-radius: 50%;
  background-color: var(--main-clr);
}
.admin-content .btn-close:hover,
.order-content .btn-close:hover {
  background-color: #E2E8EF;
}




/* ---------filter tables----------- */
.btn-filter {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  margin-top: 1rem;
  position: absolute;
  background-color: white;
  z-index: 100;
  right: 1rem;
  width: 80%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.257);
  max-width: 700px;
  border-radius: 1rem;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
}
td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td:hover {
  background-color: whitesmoke;
}

/* for small devices */
@media screen and (max-width: 350px) {
  table {
    right: 0;
    left: 0;
    width: 100%;
  }
}
/* for medium devices */
@media screen and (min-width: 568px) {
}
@media screen and (min-width: 750px) {
  table {
    left: 7rem;
    width: 80%;
  }
  .showcase2-table {
    right: 15rem;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  table {
    left: auto;
    right: auto;
  }
  .showcase6-table {
    left: 10rem;
  }
}









/* ---------Navbar----------- */
nav {
  background-color: whitesmoke;
  position: sticky;
  z-index: 10000;
  top: 0;
  font-size: 15px;
  font-family: 'Ysabeau', sans-serif;
  padding-inline: 1rem;
}
.navbar-wrapper {
  min-height: 3rem;
  height: 10vh;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  padding-block: 1rem;
  margin-inline: 1rem;
  width: fit-content;
  border-bottom: 1px solid transparent;
  font-weight: 700;
}
.nav-link:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.nav-logo {
  height: 2rem;
  object-fit: contain;
}
.nav-links {
  display: none;
}

/* ---------dropdown----------- */
.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 11rem;
  z-index: 20;
  top: 2.9rem;
  right: 0;

  box-shadow: var(--box-shadow);
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: flex-end;
}
.drop {
  padding-block: 1rem;
}


/* ---------menu modal----------- */
.menu-content {
  position: absolute;
  z-index: 50;
  bottom: 0;
  top: 0;
  right: 0;
  
  height: 100vh;
  width: 300px;
  background-color: var(--bg-clr);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}
.menu-content .nav-link {
  align-self: flex-end;
}
.menu-df {
  display: flex;
  flex-direction: column;
}
.menu-df .nav-link {
  color: var(--third-clr);
}



/* ---------hero section----------- */
.hero {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 92vh;
  padding: 45vh 1rem 1rem;
}
.hero-data {
  max-width: 1100px;
  margin: 0 auto;
}
.hero-data p {
  color: var(--text-clr-light);
  font-size: 18px;
}
.hero h1 {
  font-weight: 800;
  color: var(--text-clr-light);
}

/* ---------main section----------- */
.home {
  gap: 3rem;
}
.home-main-title {
  margin-bottom: 1rem;
}
.home img {
  max-height: 35rem;
  object-fit: cover;
  object-position: top;
}
.home-images-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.home-main-subtitle {
  margin-block: 3rem 1rem;
}


/* ---------sidebar section----------- */
.home-sidebar {
  margin-top: 2rem;
  overflow-y: scroll;
  max-height: 1800px;
  padding-right: 1.5rem;
}
.home-sidebar-data {
  display: flex;
  flex-direction: column-reverse;
}
.home-sidebar-title {
  font-style: italic;
  margin-bottom: -2rem;
  color: var(--third-clr);
}
.sidebar-item {
  padding-top: 2.5rem;
  border-top: 1px solid lightgray;
  margin-top: 2.5rem;
}
.sidebar-date {
  font-style: italic;
  font-size: x-small;
  color: gray;
  display: block;
  text-align: end;
}
.sidebar-header {
  padding-block: .5rem;
}
.article-img {
  height: 8rem;
}



/* ---------footer section----------- */
.footer {
  margin-top: 3rem;
  background-color: var(--main-clr);
  padding-block: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-link {
  padding: .5rem 1rem;
}
.footer-link:hover {
  color: var(--third-clr);
  cursor: pointer;
}
.copyright {
  color: gray;
  padding-top: .7rem;
  padding-bottom: 1.2rem;
}
.footer-icons {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}
.footer-icon:hover {
  color: var(--third-clr);
}




/* for small devices */
@media screen and (max-width: 350px) {
  nav {
    padding-inline: .5rem 0rem;
  }
  .nav-logo {
    height: 1.5rem;
  }
  .footer-links {
    flex-direction: column;
  }
  .home-images-wrapper {
    grid-template-columns: 1fr;
  }
}

/* for medium devices */
@media screen and (min-width: 568px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 15rem;
  }
  .home-sidebar {
    max-height: 3800px;
  }
}
@media screen and (min-width: 750px) {
  .nav-logo {
    height: 2.5rem;
  }
  .menu, .menu-content {
    display: none;
  }
  .nav-links {
    display: flex;
    align-items: center;
    /* padding-right: 1rem; */
  }
  .hero h1 {
    font-size: 3.3rem;
  }
  .hero p {
    line-height: 35px;
    width: 50rem;
  }
}


/* for big devices */
@media screen and (min-width: 1024px) {
  .hero {
    padding: 45vh 7rem 1rem;
  }
  .home-main-title {
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 2rem;
  }
}






/* ---------Products page----------- */
.products-hero-heading,
.projects-hero-heading {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.products-hero-img,
.projects-hero-img {
  height: 80vh;
  object-fit: cover;
}
.products-hero-data {
  max-width: 700px;
  margin-top: 1rem;
}
.btn-wrapper {
  margin: 2rem 0 0;
  display: flex;
  gap: 1rem;
}
.showcase1,
.showcase2 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.showcase1-img img,
.showcase2-img img {
  height: 50vh;
  width: fit-content;
}
.showcase1-img,
.showcase2-img,
.showcase1-data,
.showcase2-data ,
.showcase3-data {
  max-width: 500px;
  margin: 0 auto;
  flex: 1;
}
.showcase2-img,
.showcase1-img {
  display: flex;
  justify-content: center;
}
.showcase1-title,
.showcase2-title,
.showcase3-title {
  margin-bottom: 2rem;
}
.showcase2 {
  background-color: var(--main-clr);
  padding: 0rem 1rem 3rem;
  position: relative;
}
.bg-gray {
  position: absolute;
  z-index: -1;
  width: 70%;
  left: -15rem;
  height: 100vh;
  background-color: var(--main-clr);
}


.showcase3-info {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.btn-report {
  flex: 1;
  background-color: #E2E8EF;
  border-radius: 1rem;
  max-width: 15rem;
}
.btn-report img {
  border-radius: 1rem 1rem 0 0;
  height: 10rem;
}
.btn-report p {
  color: black;
  font-size: small;
  padding: .7rem;
  text-align: center;
}

.showcase4 {
  background-color: var(--main-clr);
  text-align: center;
}
.showcase4-data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-inline: 3rem;
  text-align: start;
  padding-bottom: 4rem;
}
.showcase4-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.showcase4-title {
  margin-bottom: 4rem;
}
.showcase4 .btn-wrapper a {
  margin: 0 auto;
}


/* for small devices */
@media screen and (max-width: 350px) {
  .showcase4-data {
    padding-inline: 0rem;
  }
}
/* for medium devices */
@media screen and (min-width: 568px) {
  .products-hero-heading,
  .projects-hero-heading {
    flex-direction: row;
    justify-content: space-between;
  }
  .showcase1-img img,
  .showcase2-img img {
    height: 80vh;
  }
}
@media screen and (min-width: 750px) {
  .showcase1 {
    flex-direction: row-reverse;
  }
  .showcase2 {
    padding: 3rem 0rem;
    background-color: transparent;
    flex-direction: row;
    margin-bottom: 10rem;
  }
  .showcase4-data {
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 0rem;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  .products-hero-data {
    max-width: 900px;
  }
  .showcase4-data {
    padding-inline: 3rem;
  }
}



/* ---------projects page----------- */
.projects-intro,
.map,
.showcase6 {
  text-align: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showcase6 {
  margin-top: 2rem;
}
.projects-intro-title,
.map-title {
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.single-project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project-title  {
  margin-bottom: .5rem;
}
.project-subtitle {
  margin-bottom: 2rem;
  color: black;
}
.project-img img {
  height: 300px;
  object-fit: cover;
}

.showcase5 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--main-clr);
}
.showcase5-img {
  height: 300px;
  object-fit: cover;
}
.showcase5-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* for small devices */
@media screen and (max-width: 350px) {
  
}
/* for medium devices */
@media screen and (min-width: 568px) {
  .showcase5 {
    flex-direction: row;
    gap: 2rem;
  }
  .showcase5-item {
    flex: 1;
  }
}
@media screen and (min-width: 750px) {
  .projects {
    gap: 0rem;
  }
  .single-project {
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .project-img,
  .project-data {
    flex: 1;
  }
  .showcase5 {
    padding-inline: 3rem;
    gap: 4rem;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  .project-img img {
    height: 450px;
  }
}




/* ---------montage page----------- */
.montage-hero-heading {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.montage-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.montage-focused-video {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.424);
}
.montage-focused-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5rem;
  gap: 1rem;
}
.montage-user {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.montage-user-icon {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2E8EF;
  color: var(--third-clr);
  border-radius: 50%;
}
.montage-wrapper .btn-wrapper {
  margin: 0rem;
}

.montage-suggestion-videos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.montage-videos-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.montage-videos-item:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.215);
  border-radius: 10px;
  cursor: pointer;
}

.montage-video {
  max-height: 150px;
  border-radius: 10px;
  max-width: 250px;
}
.montage-video,
.montage-title {
  flex: 1;
}
.montage-title {
  padding: 0 1rem 1rem;
}


/* for small devices */
@media screen and (max-width: 350px) {
  .montage-focused-video {
    height: auto;
  }
  .montage-focused-heading {
    flex-direction: column;
    align-items: start;
  }
  .montage-videos-item {
    flex-direction: column;
  }
  .montage-video {
    width: 100%;
  }
}
/* for medium devices */
@media screen and (min-width: 568px) {
  .montage-focused-video {
    height: 20rem;
  }
}
@media screen and (min-width: 750px) {
  .montage-wrapper {
    flex-direction: row;
    gap: 1rem;
  }
  .montage-focused {
    width: 100%;
  }
  .montage-focused-video {
    height: 24rem;
  }
  .montage-videos-item {
    flex-direction: column;
    align-items: start;
  }
  .montage-video {
    width: 100%;
    max-width: 400px;
  }
  .montage-video:hover {
    border-radius: 10px 10px 0 0;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  .montage-wrapper {
    gap: 2rem;
  }
}







/* ---------contact page----------- */
.contact {
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;
}
.contact-title {
  margin-bottom: 2rem;
}
.contact-img {
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  position: relative;
  height: 20rem;
}
.contact-info {
  background-color: var(--bg-clr);
  position: absolute;
  left: 50%;
	transform: translate(-50%);
  bottom: -2rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 3rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--third-clr);
}
.contact-info-title {
  position: absolute;
  left: 0;
  top: -1.5rem;
  color: var(--text-clr-light);
}
.contact-social {
display: none;
}

.contact-label {
  width: 100%;
  margin-bottom: .5rem;
  color: var(--third-clr);
  font-size: small;
}
.contact-input-field:focus {
  border: 1px solid var(--third-clr);
} 

/* for small devices */
@media screen and (max-width: 350px) {
  .contact-info {
    width: 100%;
    padding: 1rem;
  }
}
/* for medium devices */
@media screen and (min-width: 568px) {
}
@media screen and (min-width: 750px) {
  .contact {
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  .contact-form,
  .contact-img {
    flex: 1;
  }
  .contact-img {
    height: auto;
    max-height: 30rem;
  }
  .contact-info {
    gap: 2rem;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  .contact {
    gap: 4rem;
  }
  .contact-info {
    padding: 4rem;
  }
  .contact-social {
    position: absolute;
    right: -3rem;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}




/* ---------put-order modal----------- */
.order-content {
  background-image: url(./assets/layered-waves-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  height: 100vh;
  position: fixed;
  z-index: 10000;
  inset: 0;
  padding: 1rem;
  overflow-y: scroll;
}
.order-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-title {
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.order-subtitle {
  margin-bottom: 1rem;
}
.order-form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin: 5rem auto 0;
}
.input-group {
  position: relative;
}
.label {
  color: gray;
  font-size: 12px;
  position: absolute;
  top: .5rem;
  left: 1rem;
}
.input-field {
  margin-bottom: 1rem;
  color: #000000;
  padding: 2rem 1rem .8rem;
  text-align: bottom;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  resize: none;
  width: 100%;
}
.input-field:hover {
  box-shadow: var(--box-shadow);
}
.input-field:focus {
  border: 1px solid var(--third-clr);
} 
.order-size-inputs {
  display: flex;
  gap: 1rem;
  width: 400px;
}
.order-size {
  display: flex;
  align-items: center;
  flex: 1;
}
.order-form-right {
  display: flex; 
  flex-direction: column;
}
.order-btn-wrapper {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}





/* for small devices */
@media screen and (max-width: 350px) {
  
}
/* for medium devices */
@media screen and (min-width: 568px) {

}
@media screen and (min-width: 750px) {
  .order-content {
    overflow: hidden;
  }
  .order-form {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
  }
  .order-form-right {
    margin-top: 6rem;
  }
  .order-form-right,
  .order-form-left {
    width: 400px;
  }
  .order-content {
    background-position: bottom;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  .order-form {
    gap: 5rem;
  }
}




/* ---------admin modal----------- */
.admin-content {
  position: fixed;
  inset: 0;
  height: 100vh;
  z-index: 10000;
  padding: 1rem;
  background-image: url(./assets/layered-waves-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.admin-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  margin: 10vh auto;
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 5px;
  overflow: scroll;
  max-height: 500px;
}
.btn-admin-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-admin {
  margin-top: -1rem;
  align-self: center;
}
.admin-content .input-group {
  width: 100%;
}
.admin-subtitle {
  margin-bottom: 5vh;
}
.admin-input-wrapper {
  display: flex;
  gap: 1rem;
}
.admin-input-field:focus {
  border: 1px solid var(--third-clr);
} 


.new-post-title {
  margin-bottom: 2rem;
}



.mt-2 {
  margin-top: 2rem;
}



/* ------post------ */
.posts {
  display: flex;
  flex-direction: column-reverse;
}
.post {
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: var(--box-shadow);
  margin-block: 1rem;
  border-radius: 5px;
}
.post-image,
.post-data {
  flex: 40%;
  text-align: left;
}
.post-image {
  overflow-x: hidden;
  height: 10rem;
  object-fit: cover;
  border-radius: 5px 0px 0px 5px;
}
.no-post-image {
  flex: 0;
}
.post-data {
  padding: 1rem 1rem 1rem 0rem;
}
.post-data-only {
  align-self: center;
  text-align: center;
  flex: 100%;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
}
.post-tools {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 1rem;
  align-self: center;
}
.post-data-only input {
  text-align: center;
}
.post-title, 
.post-message {
  border: 1px solid lightgray;
  width: 100%;
  padding: .1rem .5rem;
}
.post-title {
  font-size: 20px;
}






/* ---------document page----------- */
.document-title, 
.document-subtitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.document-subtitle {
  padding-bottom: 2rem;
}
.document-title {
  margin-bottom: 2rem;
}
.document-img {
  margin-bottom: 2rem;
}
.document-item {
  margin-block: 2rem;
  padding: .5rem .5rem 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: var(--box-shadow);
  transition: all 0.3s;
  outline: 1px solid white;
}
.document-item:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  outline: 5px solid white;
}
.document-item-title {
  margin-block: 1rem;
}
.document-item button {
  margin-top: 1rem;
}
.document-item img {
  height: 5rem;
  width: fit-content;
}

/* for small devices */
@media screen and (max-width: 350px) {
  
}
/* for medium devices */
@media screen and (min-width: 568px) {
  
}
@media screen and (min-width: 750px) {
  .document-title {
    margin-top: 2rem;
  }
  .document-img {
    padding-block: 3rem;
  }
  .document-item {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }
  .document-item img {
    object-fit: contain;
    height: 10rem;
    flex: 1;
    max-width: 250px;
  }
  .document-item-text {
    flex: 3;
  }
} 
/* for big devices */
@media screen and (min-width: 1024px) {
  
}







.d-none {
  display: none;
}


/* ------------loader------------- */
.loader {
  margin: 10rem 45%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid lightgray;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid var(--second-clr);
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 