:root {
  --bg-clr: white;
  --text-clr: #000000;
  --text-clr-light: white;
  
  --main-clr: #F8F7F7;
  --second-clr: #00A0E6;
  --third-clr: #205065;

  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.078);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, 
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 100;
}
p {
  /* font-family: serif; */
  line-height: 25px;
  color: gray;
}
a {
  text-decoration: none;
  color: var(--text-clr);
}
img {
  width: 100%;
  height: auto;
}
.section {
  padding: 3rem 1rem;
  max-width: 1100px;
  margin: 0 auto;
}


/* ---------buttons----------- */
.btn {
  border: none;
  padding: .3rem 1.2rem;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.btn-gray {
  background-color: #E2E8EF;
  color: var(--third-clr);
}
.btn-blue {
  background-color: var(--second-clr);
  color: var(--text-clr-light);
}
.btn-close {
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  padding: .5rem .7rem;
  background-color: transparent;
  border: none;
  font-size: large;
}
.btn-close:hover {
  color: var(--third-clr);
  border-radius: 50%;
  background-color: var(--main-clr);
}


/* ---------Navbar----------- */
nav {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.046);
  position: sticky;
  z-index: 10000;
  top: 0;
  
}
.navbar-wrapper {
  min-height: 3rem;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  
  max-width: 1100px;
}
.nav-link {
  padding: .5rem 0rem .5rem 1rem;
  margin-right: 1rem;
  width: fit-content;
  border-bottom: 1px solid transparent;
}
.nav-link:hover {
  cursor: pointer;
  /* color: var(--third-clr); */
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.nav-logo {
  height: 2.5rem;
}
.nav-links {
  display: none;
}

/* ---------dropdown----------- */
.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 11rem;
  z-index: 20;
  top: 2.1rem;
  right: 0;

  box-shadow: var(--box-shadow);
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: flex-end;
}
.drop {
  padding-block: 1rem;
}



/* ---------menu modal----------- */
.menu-content {
  position: absolute;
  z-index: 50;
  bottom: 0;
  top: 0;
  right: 0;
  
  height: 100vh;
  width: 300px;
  background-color: var(--bg-clr);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}
.menu-content .nav-link {
  align-self: flex-end;
}
.menu-content .nav-link:hover {
  color: var(--third-clr);
}
.menu-df {
  display: flex;
  flex-direction: column;
}
.menu-df .nav-link {
  color: rgb(122, 122, 122);
}



/* ---------hero section----------- */
.hero {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  height: 92vh;
  padding: 45vh 1rem 1rem;
}
.hero-data {
  max-width: 1100px;
  margin: 0 auto;
}
.hero-data p {
  color: var(--text-clr-light);
}
.hero h1 {
  font-weight: 600;
  color: var(--text-clr-light);
}

/* ---------main section----------- */
.home {
  gap: 3rem;
}
.home-main h1 {
  margin-bottom: 1rem;
}
.home img {
  max-height: 35rem;
  object-fit: cover;
  object-position: top;
}


/* ---------sidebar section----------- */
.home-sidebar {
  margin-top: 2rem;
}
.home-sidebar-title {
  font-style: italic;
  margin-bottom: -2rem;
  color: var(--third-clr);
}
.sidebar-item {
  padding-top: 2.5rem;
  border-top: 1px solid lightgray;
  margin-top: 2.5rem;
}
.sidebar-date {
  font-style: italic;
  font-size: x-small;
  color: gray;
  display: block;
  text-align: end;
}
.sidebar-header {
  padding-block: .5rem;
}



/* ---------footer section----------- */
.footer {
  margin-top: 3rem;
  background-color: var(--main-clr);
  padding-block: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-link {
  padding: .5rem 1rem;
}
.footer-link:hover {
  color: var(--second-clr);
  cursor: pointer;
}
.copyright {
  color: gray;
  padding-top: .7rem;
  padding-bottom: 1.2rem;
}
.footer-icons {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}
.footer-icon:hover {
  color: var(--second-clr);
}




/* for small devices */
@media screen and (max-width: 350px) {
  .footer-links {
    flex-direction: column;
  }
  .nav-logo {
    height: 2rem;
  }
}

/* for medium devices */
@media screen and (min-width: 568px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 15rem;
  }
}
@media screen and (min-width: 750px) {
  .menu, .menu-content {
    display: none;
  }
  .nav-links {
    display: flex;
    align-items: center;
    padding-right: 1rem;
  }
  .hero h1 {
    font-size: 3.3rem;
  }
  .hero p {
    line-height: 35px;
    width: 50rem;
  }
}


/* for big devices */
@media screen and (min-width: 1024px) {
  nav {
    padding-inline: 7rem;
  }
  .hero {
    padding: 45vh 7rem 1rem;
  }
  .home-main h1 {
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 2rem;
  }
}






/* ---------Products page----------- */
.products-hero-heading,
.projects-hero-heading {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.products-hero-img,
.projects-hero-img {
  height: 80vh;
  object-fit: cover;
}
.products-hero-data {
  max-width: 700px;
  margin-top: 1rem;
}
.btn-wrapper {
  margin: 2rem 0 0;
  display: flex;
  gap: 1rem;
}
.showcase1,
.showcase2 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.showcase1-img img,
.showcase2-img img {
  height: 50vh;
  width: fit-content;
}
.showcase1-img,
.showcase2-img,
.showcase1-data,
.showcase2-data ,
.showcase3-data {
  max-width: 500px;
  margin: 0 auto;
  flex: 1;
}
.showcase2-img,
.showcase1-img {
  display: flex;
  justify-content: center;
}
.showcase1-title,
.showcase2-title,
.showcase3-title {
  margin-bottom: 2rem;
}
.showcase2 {
  background-color: var(--main-clr);
  padding: 0rem 1rem 3rem;
  position: relative;
}
.bg-gray {
  position: absolute;
  z-index: -1;
  width: 70%;
  left: -15rem;
  height: 100vh;
  background-color: var(--main-clr);
}


.showcase3-info {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.btn-report {
  flex: 1;
  background-color: #E2E8EF;
  border-radius: 1rem;
  max-width: 15rem;
}
.btn-report img {
  border-radius: 1rem 1rem 0 0;
  height: 10rem;
}
.btn-report p {
  color: black;
  font-size: small;
  padding: .7rem;
  text-align: center;
}

.showcase4 {
  background-color: var(--main-clr);
  text-align: center;
}
.showcase4-data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-inline: 3rem;
  text-align: start;
  padding-bottom: 4rem;
}
.showcase4-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.showcase4-title {
  margin-bottom: 4rem;
}

/* for small devices */
@media screen and (max-width: 350px) {
  .showcase4-data {
    padding-inline: 0rem;
  }
}
/* for medium devices */
@media screen and (min-width: 568px) {
  .products-hero-heading,
  .projects-hero-heading {
    flex-direction: row;
    justify-content: space-between;
  }
  .showcase1-img img,
  .showcase2-img img {
    height: 80vh;
  }
}
@media screen and (min-width: 750px) {
  .showcase1 {
    flex-direction: row-reverse;
  }
  .showcase2 {
    padding: 3rem 0rem;
    background-color: transparent;
    flex-direction: row;
    margin-bottom: 10rem;
  }
  .showcase4-data {
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 0rem;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  .products-hero-data {
    max-width: 900px;
  }
  .showcase4-data {
    padding-inline: 3rem;
  }
}



/* ---------projects page----------- */
.projects-intro,
.map {
  text-align: center;
  max-width: 600px;
}
.projects-intro-title,
.map-title {
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.single-project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project-title  {
  margin-bottom: .5rem;
}
.project-subtitle {
  margin-bottom: 2rem;
  color: black;
}
.project-img img {
  height: 300px;
  object-fit: cover;
}

.showcase5 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--main-clr);
}
.showcase5-img {
  height: 300px;
  object-fit: cover;
}
.showcase5-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* for small devices */
@media screen and (max-width: 350px) {
  
}
/* for medium devices */
@media screen and (min-width: 568px) {
  .showcase5 {
    flex-direction: row;
    gap: 2rem;
  }
  .showcase5-item {
    flex: 1;
  }
}
@media screen and (min-width: 750px) {
  .projects {
    gap: 0rem;
  }
  .single-project {
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .project-img,
  .project-data {
    flex: 1;
  }
  .showcase5 {
    padding-inline: 3rem;
    gap: 4rem;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  .project-img img {
    height: 450px;
  }
}




/* ---------montage page----------- */
.montage-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.montage-focused-video {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.424);
}
.montage-focused-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5rem;
  gap: 1rem;
}
.montage-user {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.montage-user-icon {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2E8EF;
  color: var(--third-clr);
  border-radius: 50%;
}
.montage-wrapper .btn-wrapper {
  margin: 0rem;
}

.montage-suggestion-videos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.montage-videos-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.montage-videos-item:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.215);
  border-radius: 10px;
  cursor: pointer;
}

.montage-video {
  max-height: 150px;
  border-radius: 10px;
  max-width: 250px;
}
.montage-video,
.montage-title {
  flex: 1;
}
.montage-title {
  padding: 0 1rem 1rem;
}


/* for small devices */
@media screen and (max-width: 350px) {
  .montage-focused-video {
    height: auto;
  }
  .montage-focused-heading {
    flex-direction: column;
    align-items: start;
  }
  .montage-videos-item {
    flex-direction: column;
  }
  .montage-video {
    width: 100%;
  }
}
/* for medium devices */
@media screen and (min-width: 568px) {
  .montage-focused-video {
    height: 20rem;
  }

}
@media screen and (min-width: 750px) {
  .montage-wrapper {
    flex-direction: row;
    gap: 1rem;
  }
  .montage-focused {
    width: 100%;
  }
  .montage-focused-video {
    height: 24rem;
  }
  .montage-videos-item {
    flex-direction: column;
    align-items: start;
  }
  .montage-video {
    width: 100%;
    max-width: 400px;
  }
  .montage-video:hover {
    border-radius: 10px 10px 0 0;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  .montage-wrapper {
    gap: 2rem;
  }
}







/* ---------contact page----------- */
.contact {
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;
}
.contact-title {
  margin-bottom: 2rem;
}
.contact-img {
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  position: relative;
  height: 20rem;
}
.contact-info {
  background-color: var(--bg-clr);
  position: absolute;
  left: 50%;
	transform: translate(-50%);
  bottom: -2rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 3rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--third-clr);
}
.contact-info-title {
  position: absolute;
  left: 0;
  top: -1.5rem;
  color: var(--text-clr-light);
}
.contact-social {
display: none;
}

.contact-label {
  width: 100%;
  margin-bottom: .5rem;
  color: var(--third-clr);
  font-size: small;
}
.contact-input-field {
  width: 80%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  resize: none;
}
.contact-input-field:focus {
  border: 1px solid var(--third-clr);
} 

/* for small devices */
@media screen and (max-width: 350px) {
  .contact-info {
    width: 100%;
    padding: 1rem;
  }
}
/* for medium devices */
@media screen and (min-width: 568px) {
}
@media screen and (min-width: 750px) {
  .contact {
    flex-direction: row;
    gap: 0rem;
    margin-bottom: 3rem;
  }
  .contact-form,
  .contact-img {
    flex: 1;
  }
  .contact-img {
    height: auto;
  }
  .contact-info {
    gap: 2rem;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  .contact-info {
    padding: 4rem;
  }
  .contact-social {
    position: absolute;
    right: -3rem;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}




/* ---------put-order modal----------- */
.order-content {
  background-color: var(--bg-clr);
  height: 100vh;
  position: absolute;
  z-index: 100;
  inset: 0;
  padding: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.order-title {
  margin-bottom: 1rem;
}
.order-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}
.order-label {
  color: var(--third-clr);
  font-size: small;
}
.order-input-field {
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  resize: none;
  width: 100%;
  max-width: 400px;
}
.order-input-field:focus {
  border: 1px solid var(--third-clr);
  background-color: var(--main-clr);
} 
.order-size-inputs {
  display: flex;
  gap: 1rem;
  width: 400px;
}
.order-size {
  display: flex;
  gap: .5rem;
  align-items: center;
  flex: 1;
}
.order-form-right {
  display: flex; 
  flex-direction: column;
}
.order-form-right button {
  align-self: flex-end;
}




/* for small devices */
@media screen and (max-width: 350px) {
  
}
/* for medium devices */
@media screen and (min-width: 568px) {

}
@media screen and (min-width: 750px) {
  .order-content {
    overflow: hidden;
  }
  .order-form {
    flex-direction: row;
    max-width: initial;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
  }
  .order-form-right {
    margin-top: 5rem;
  }
  .order-input-field {
    margin-bottom: 2rem;
  }
  
}
/* for big devices */
@media screen and (min-width: 1024px) {
  .order-form {
    gap: 5rem;
  }
  .order-form-right,
  .order-form-left {
    width: 400px;
  }
}